h2{
    text-align:center;
}

input[type="text"] {
    outline: 0;
    width: 100%;
    height: 32px;
    border: none;
    font-size: 18px;
    font-weight: normal;
}

.add {
    outline: 0;
    float: right;
    width: 34%;
    height: 36px;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #3b3b3b;
}

ul {
    padding: 0;
    text-align: left;
    list-style: none;
}

hr {
    border-bottom: 0;
    margin: 15px 0;
}

input[type="checkbox"] {
    width: 30px;
    opacity: 1 !important;
    position: relative !important;
    pointer-events: auto !important;
}

.remove {
    float: right;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}
